body{
    background-image: url(space_bg.jpeg);
}
.firstrow{
    width: 1200px;
    height: 300px;
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 100px;
    background-color: #f0f8ff;
    display: flex;
    background-image: url(bg-row.png);
    border-radius: 5px;
}
.box1{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
    
   
}
.box2{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
   
    

}
.box3{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
   
    

}
.dishpic1{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(idli-crt.png);
    
}
.dishpic3{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(poori-crt.png);
    color: beige;
    
}
.dishpic2{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(dosa-crt.png);
}
.box1:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.box3:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.box2:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.pricebox{
    width: 190px;
    height:70px;
    background-color: blue;
}
.secondrow{
    width: 1200px;
    height: 300px;
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 100px;
    background-color: #f0f8ff;
    display: flex;
    background-image: url(bg-row.png);
    border-radius: 5px;
    
}
.box4{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
    
   
}
.box5{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
   
    

}
.box6{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
    width: 190px;
    height: 250px;
    background-color: cyan;
    border: 4px;
    border-radius: 8px;
   
    

}
.box4:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.box5:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.box6:hover{
    transform: scale(1.3);
    box-shadow: 0 0 10px;
}
.pricebox{
    width: 190px;
    height:70px;
    background-color: blue;
}
.dishpic4{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(briyani-crt.png);
    
}
.dishpic5{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(meals-crt.png);
    
}
.dishpic6{
    width:190;
    height:180px;
    background-color: black;
    border-radius: 5px;
    background-image: url(parota-crt.jpeg);
}
h3{
    text-align: center;
    margin-bottom: 0%;
}
h5{
    margin-top: 1px;
    text-align: center;
}
span{
    margin-left: 700px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 15px;
    font-size: 45px;
    
    
}
span:hover{
    transform: scale(1.5);
}
h2{
    color: white;
    margin-left: 50px;
    margin-top: 95px;
}
h1{
    text-align: center;
    color: white;
    margin-bottom: 2px;

}
p{
    text-align: center;
    color: white;
    font-size: small;
}
address{
    text-align: center;
    color: white;
}
h2{
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    text-shadow: 0 0 5px white;
}
html{
    scroll-behavior: smooth;
}

